.button {

  border: none;
  padding: 1em 1.2em;
  outline: none;
  cursor: pointer;

  &,
  a,
  button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
  }

  a,
  button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.button-primary {

  background-color: $color-gray7;

  &,
  a,
  button {
    color: white;
  }

  &:hover {
    background-color: $color-gray6;
  }

  &:active {
    background-color: $color-gray8;
  }

  &:focus {
    background-color: $color-gray8;
    box-shadow: 0 0 8px rgba($color-gray4, .8);
  }

}

.button-icon-before {

  svg {
    margin-right: .8em;
  }

}

.button-icon-after {

  svg {
    margin-left: .8em;
  }

}